.cart img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.cart{
    background-color: rgba(188, 135, 238, 0.262);
    height: 500px;
    padding: 25px;
    position: sticky;
    top: 0;
    border-radius: 10px;
}
.cart .select{
    color: rgb(0, 0, 0);
    font-size: 21px;
}
@media only screen and (max-width: 680px) {
    .cart{
        position: sticky;
        top: 0;
    }
  }
.cart p{
    color: blueviolet;
    font-size: 22px;
    margin-left: 10px;
}
.btnRandom{
    border: none;
    margin: 5px;
    background-color: none;
    color: blueviolet;
    font-size: 21px;
    padding: 10px;
    border-radius: 10px;
}