.details img{
    height: 300px;
    width: 300px;
}
.details{
    background-color: rgb(255, 255, 255);
}
.name{
    font-size: 21px;
}
.btn-cart{
    background-color: rgba(137, 43, 226, 0.323);
    border: none;
    width: 100%;
    color: white;
    font-size: 17px;
}