.details img{
    height: 300px;
    width: 300px;
}
.details{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(82, 81, 81, 0.2), 0 6px 20px 0 rgba(133, 132, 132, 0.19);
    border-radius:;
}
.name{
    font-size: 21px;
}
.name,.price{
    margin-left: 10px;
}
.btn-cart{
    background-color: rgba(137, 43, 226, 0.323);
    border: none;
    width: 100%;
    color: white;
    font-size: 17px;
}